/* Making sure that footer sticks to bottom */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 30px;
}
/* Footer */
#footer-info {
    position: absolute;
    bottom: 0;
    margin-top: 20px;
    left: 45%;
    height: 30px;
}

/* Bolding the search matches */
.highlight {
  font-weight: bold;
}

/* Creating a scrolling option for dropdown 
   Change max-height to adjust size of dropdown
*/
.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 162px;
}

.header {
	padding-bottom: 20px;
	margin-bottom: 40px;
}

/* logo size */
#logo {
	height: 20%;
	width: 50%;
}

/* Tightening the container */
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 100px;
	padding-right: 100px;
}

/* making quiz area more distinct */
.quiz-div {
	padding-top: 20px;
}

/* Making buttons larger */
.btn-lg {
	font-size: 2em;
	padding: 18px 28px;
}

/* creating some room around the question */
.question-text {
	padding-top: 20px;
}

#specific-question {
	font-family: 'Droid Sans', sans-serif;
	font-size: 3em;
}

/* Changes location of the div containing angucomplete */
.response-field {
	padding-top: 50px;
	width: 50%;
	margin: 0 auto;
}

/* Changes the actual box 
   Width of this element and angucomplete-dropdown need to match
*/
#search-field_value {
	width: 500px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 2em;
	text-align: center;
}

/* Changes the actual drop-down */
.angucomplete-dropdown {
    width: 500px;
    top: 55px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

/* Changes individual rows in angucomplete-dropdown */
.angucomplete-row {
	height: 90px;
}
/* Enlarging glyphicons */
.glyphicon {
	font-size: 150%;
}
/* Centering answers - check sign, incorrect sign */
.centering-icons {
	padding-top: 50px;
	width: 20%;
	margin: 0 auto;
}

#score {
	width: 50%;
	margin: 0 auto;
}

/* Matching facebook color */
#facebook-button {
	background-color: #3b5998;
}

.quiz-summary {
	padding-top: 30px;
}
/* Summary - list of questions 
   Also useful for just adding padding on the left */
.questions-list, .padding-left-50 {
	padding-left: 50px;
}

/* Colors correct answers green */
.correct-answer {
	color: green;
}

/* Center the buttons */
.restart-share {
	width: 50%;
	margin: 0 auto;
	padding-top: 20px;
}

/* Messing with the blockquote's footer size */
.footer-size {
	font-size: .9em;
}

/* Creating some space for the bottom add quotes section */
.add-quotes {
	padding-top: 50px;
}

/* Centering */
.thank-you-submission {
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

.angucomplete-image {
	height: 80px;
	width: 80px;
}