{% load static %}

<html lang="en" ng-app="quizApp" ng-controller="QuizController">
<head>
    <meta charset="utf-8"/>

<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/angucomplete-alt.css' %}" rel="stylesheet">
    <link href="{% static 'css/loading-bar.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/quiz.css' %}" rel="stylesheet">
	<script src="{% static 'js/angular.min.js' %}"></script>
	<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
	<script src="{% static 'js/quiz.js' %}"></script>
    <script src="{% static 'js/angucomplete-alt.min.js' %}"></script>
    <script src="{% static 'js/loading-bar.min.js' %}"></script>
	<title>Temporary Title</title>

</head>

<body>
	{% block content %} {% endblock %}
    
</body>
</html>