{% extends 'base.html' %}
{% load static %}
{% csrf_token %}

{% block content %}
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '359686774227548',
          xfbml      : true,
          status	 : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>



<script src="view-source:http:/connect.facebook.net/en_US/all.js" type="text/javascript"></script> 
	<script type="text/javascript"></script> 




	<div class="container">
		<!-- INTRO - BEFORE QUIZ - inProgress = false-->
		<div class="intro" ng-show="!inProgress">
			OH HAI. WELCOME TO QUIZ. PRES TEH BUTN 2 START
			<br>
<!-- 			<button id="start-button" class="btn btn-primary" ng-click="start()">START</button>
 --> 			<button id="start-button" class="btn btn-primary" ng-click="testing()">START</button>
		</div>

		<!-- POST INTRO - inProgress = true-->
		<div class="quizzing" ng-show="inProgress">
			<div id="score">
				DIS SCORE: [[score]]/10 
			</div>
			<!-- ACTUAL QUIZ - quizOver = false-->
			<div ng-show="!quizOver">
				<div class="question-text">
					[[id + 1]]. [[question]]
				</div>

				<div ng-show="answerMode">
					<div class="response-field">
						<div angucomplete-alt id="search-field" selected-object="answerSelect" title-field="person" local-data="array_people" search-fields="person" minlength="1" match-class="highlight" />
						</div>
					</div>
				</div>

				<div ng-show="!answerMode">
					<button id="next-question-button" class="btn btn-primary" ng-click="nextQuestion()">Next</button>
					<span ng-show="correctAnswer">Correct!</span>
					<span ng-show="!correctAnswer">Wrong!</span>
				</div>
			</div>
			<!-- QUIZ IS COMPLETE - quizOver = true-->
			<div ng-show="quizOver">
				QUIZ DUN
				<br>
				Summary of Results:
				<ol>
					<li ng-repeat="item in jsonSummary">[[item.question]] - [[item.corrAnswer]] - [[item.usAnswer]]</li>
				</ol>
				<button id="restart-button" class="btn btn-primary" ng-click="reset()">RETRY</button>

				<button id="facebook-button" class="btn btn-primary" ng-click="postFacebook()">Share your results on Facebook!</button>

				<div ng-show="!addQuotes">
						Add a quote!
						<br>
						Person:
 							<select ng-model="userPerson" ng-init="userPerson = userPerson" ng-options="person.person as person.person for person in array_people">
 							</select>
						<br>
					<form name="form">
						Quote: 
						<br>
						<textarea id="user-text-area" required name="userQuoteInput" ng-minlength="4" ng-model="userQuote" placeholder="Insert quote here. No need to enclose with double quotes" /></textarea> [[ 160 - userQuote.length ]]
						<p ng-show="(form.userQuoteInput.$error.required || form.userQuoteInput.$error.minlength || userQuote.length > 160) && form.userQuoteInput.$dirty" class="help-block">Quote must be between 4 and 160 characters</p>
						<br>
						<button class="btn btn-primary" ng-disabled="form.userQuoteInput.$error.required || form.userQuoteInput.$error.minlength || userQuote.length > 160" ng-click="userAdd()">Submit Quote</button>
					</form>
				</div>
				<div ng-show="addQuotes">
				QUOTE SUBMITTED
				</div>
			</div>
		</div>
	</div>
{% endblock %}