{% extends 'base.html' %}
{% load static %}
{% csrf_token %}

{% block content %}
	<div class="container">
		<!-- INTRO - BEFORE QUIZ - inProgress = false-->
		<div class="intro" ng-show="!inProgress">
			OH HAI. WELCOME TO QUIZ. PRES TEH BUTN 2 START
			<br>
			<button id="start-button" class="btn btn-primary" ng-click="start()">START</button>
		</div>

		<!-- POST INTRO - inProgress = true-->
		<div class="quizzing" ng-show="inProgress">
			<div id="score">
				DIS SCORE: [[score]]/10 
			</div>
			<!-- ACTUAL QUIZ - quizOver = false-->
			<div ng-show="!quizOver">
				<div class="question-text">
					[[question]]
				</div>

				<div ng-show="answerMode">
					<div class="response-field">
						<!-- <input id="search-field" type="text" ng-model="userAnswer"> -->
						<angucomplete-alt id="search-field" selected-object="answerSelect" title-field="person" local-data="array_people" search-fields="person" minlength="1" match-class="highlight" />
					</div>

<!-- 					<button id="submit-button" class="btn btn-primary" ng-click="checkAnswer(userAnswer)">SUBMIT</button> -->
				</div>

				<div ng-show="!answerMode">
					<button id="next-question-button" class="btn btn-primary" ng-click="nextQuestion()">Next</button>
					<span ng-show="correctAnswer">Correct!</span>
					<span ng-show="!correctAnswer">Wrong!</span>
				</div>
			</div>
			<!-- QUIZ IS COMPLETE - quizOver = true-->
			<div ng-show="quizOver">
				QUIZ DUN
				<br>
				Summary of Results:
				<ol ng-repeat="item in jsonSummary">
					<li>[[item.question]] - [[item.corrAnswer]] - [[item.usAnswer]]</li>
				</ol>
				<button id="restart-button" class="btn btn-primary" ng-click="reset()">RETRY</button>
			</div>
		</div>
	</div>
{% endblock %}